.container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.container div{
    padding: 10px;
    text-align: justify;
    flex-basis: 30%;   
}
.d1{
    background-color: lightblue;
   
}
.d2{
    background-color: red;
   
    align-self: flex-start;
    flex: 2;
}
.d3{
    background-color: lawngreen;
}