.container{
    border: 1px solid black;
    background-color: red;
    height: 100px;
}
@media screen and (max-width:1200px){
    body{
        background-color: crimson;
    }
    @media screen and (max-width:1000px){
        body{
            background-color: blue;
        }
    }
    @media screen and (max-width:800px){
        .container{
            background-color: yellow;
            height: 300px;
            width: 100%;
        }
    }
    @media screen and (max-width:600px){
        .container{
            display: none;
        }
    }
}
